src/main/mule/update.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c3d6339f-f3c6-44e1-8234-989587f01361" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b7e7b4ac-bdae-48e7-b2eb-5f1fd8637b2a" >
		<db:my-sql-connection host="remotemysql.com" port="3306" user="DilQVSz3KO" password="rhqQ4O3vLE" database="DilQVSz3KO" />
	</db:config>
	<flow name="updateFlow" doc:id="5bf21e40-b2e1-4bfa-b732-e3547ebfbd35" >
		<http:listener doc:name="Listener" doc:id="1e185b4f-1c38-4b75-9e28-4210e32e003b" config-ref="HTTP_Listener_config" path="/update" allowedMethods="put"/>
		<db:update doc:name="Update" doc:id="9e420a03-68de-4601-93eb-f22178f88dd6" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE EmployeeDetails set name=:name where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
name : payload.name,
id : payload.id
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="90d1e4f0-41c8-418d-8e49-d37ec41d0f54" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"success"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
